{% extends 'base.html' %}
{% block title %}
Delete
{% endblock title %}
{% block content %}
{% load static %}
<link href="{% static 'css/delete.css' %}" rel="stylesheet">
<div class="container" style="width: 31cm;">
    <h3>Are You Sure To <span class="span-delete">Delete</span> This Task '{{task}}'</h3>
    <a class="cancel" href="{% url 'app1:DoList' %}"> Cancel</a>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Confirm">Delete</button>
    </form>
</div>
{% endblock content %}