{% extends 'base.html' %}
{% load static %}
{% block title %}
DoList
{% endblock title %}

{% block content %}
<link href="{% static 'css/dolist.css' %}" rel="stylesheet">


<div class="container" style="background-color:powderblue;">

    <h3>
        <p> Do-App:</p>
    </h3>
    <h3><a class="create" href="{% url 'app1:create' %}">create task</a>
    </h3>


    {% for task in tasks %}
    <div class="container1" style="background-color:white;">
        {% if task.complete %}

        <a href="{% url 'app1:detail' task.id %}"><strike style="padding: 4px;" class="strike">{{task}}</strike></a>
        {% else %}
        <a href="{% url 'app1:detail' task.id %}"><span style="padding: 4px;" class="span">{{task}}</span></a>

        {% endif %}

    </div>
    {% endfor %}
</div>
</div>

{% endblock content %}